<h3 id="editor_controls_html_ul">HTML:Ul</h3>
<p>The ul element represents a list of items, where the order of the items is not important — that is, where changing the order would not materially change the meaning of the document. The items of the list are the li element child nodes of the ul element.</p>
<pre class="prettyprint customcode">
&lt;p&gt;I have lived in the following countries:&lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;Norway&lt;/li&gt;
    &lt;li&gt;Switzerland&lt;/li&gt;
    &lt;li&gt;United Kingdom&lt;/li&gt;
    &lt;li&gt;United States&lt;/li&gt;
&lt;/ul&gt;
</pre>
<p>Note that changing the order of the list does not change the meaning of the document.</p>
