<h3 id="editor_controls_html_ol">HTML:Ol</h3>
<p>The li element represents a list item. If its parent element is an ol, or ul, then the element is an item of the parent element's list, as defined for those elements. Otherwise, the list item has no defined list-related relationship to any other li element. If the parent element is an ol element, then the li element has an ordinal value.</p>
<pre class="prettyprint customcode">
&lt;p&gt;The following example, the top ten movies are listed&lt;/p&gt;
&lt;ol&gt;
    &lt;li&gt;Josie and the Pussycats, 2001&lt;/li&gt;
    &lt;li&gt;Црна мачка, бели мачор, 1998&lt;/li&gt;
    &lt;li&gt;A Bug's Life 1998&lt;/li&gt;
    &lt;li&gt;Toy Story 1995&lt;/li&gt;
    &lt;li&gt;Monsters, Inc 2001&lt;/li&gt;
    &lt;li&gt;Cars 2006&lt;/li&gt;
    &lt;li&gt;Toy Story 2 1999&lt;/li&gt;
    &lt;li&gt;Finding Nemo 2003&lt;/li&gt;
    &lt;li&gt;The Incredibles 2004&lt;/li&gt;
    &lt;li&gt;Ratatouille 2007&lt;/li&gt;
&lt;/ol&gt;
</pre>
