<h3 id="editor_controls_html_image">HTML:Image</h3>
<p>The &lt;img&gt; element represents an image. Sometimes something can be more clearly stated in graphical form, for example as a flowchart, a diagram, a graph, or a simple map showing directions.</p>
<p>The image given by the src attribute is the embedded content, and the value of the alt attribute is the img element's fallback content.</p>
<pre class="prettyprint customcode">
&lt;p&gt;Consider for a moment their logo:&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;w3c.png&quot; alt=&quot;It is written W3C by a white character.&quot;&gt;&lt;/p&gt;
</pre>
