<h3 id="faq">Faq</h3>
<p> Are you listening to your customers?</p>
<p> As they say: You cannot improve what you cannot measure; but the paradox is you cannot measure everything – happiness, hatred, anger… but you can measure customer satisfaction. Yes, you can measure customer satisfaction by analyzing likes and dislikes of your customers. You can gauge popularity of your website or products. You can also:</p>
<ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
</ol>
